<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MySection" type="fabianse70536.MyConfigurationSection, fabianse70536, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fabianse70536.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fabianse70536.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <MySection Name="name 1" Code="33010" />
  
  <system.diagnostics>
    <switches>
      <add name="MyTraceSource" value="1"/>
    </switches>
    <trace autoflush="true" indentsize="8">
      <listeners>
        <add name="MyTraceListener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="listener_from_app.config.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <appSettings>
    <add key="myAppSetting" value="the value!"/>
  </appSettings>
  <connectionStrings>
    <add name="Alcala"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Antofagasta&#xD;&#xA;        ;Integrated Security=true"
                                  />
  </connectionStrings>
  <userSettings>
    <fabianse70536.Settings1>
      <setting name="ParticipantName" serializeAs="String">
        <value>Armando Esteban Quito</value>
      </setting>
    </fabianse70536.Settings1>
  </userSettings>
  <applicationSettings>
    <fabianse70536.Settings1>
      <setting name="ParticipantCount" serializeAs="String">
        <value>77</value>
      </setting>
    </fabianse70536.Settings1>
  </applicationSettings>
</configuration>