<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSettings1" type="MoreConfig.CustomConfigHandler, MoreConfig"/>
    <section name="customSettings2" type="MoreConfig.MyHandler, MoreConfig"/>
  </configSections>
  <appSettings>
    <add key="Greeting" value="Hello, world!" />
    <add key="Another Key" value="Another value" />
  </appSettings>
  <customSettings1>
    <lastUser>Tony</lastUser>
    <lastNumber>32</lastNumber>
  </customSettings1>
  <customSettings2 lastUser="Tony" lastNumber="32" />
</configuration>