<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="Noodle1"
		 value="Baker to base, Baker to base"/>
	<add key="Baker1"
		 value="Noodle, we have a lemon, repeat, we have a LEMON incoming!"/>
  </appSettings>
  <connectionStrings>
	<add name="ConnStr1"
		 connectionString="LocalSqlServer: data source=127.0.0.1;Integrated Security=SSPI;Initial Catalog=aspnetdb"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>