<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="AdventureWorksLT2008R2Entities" connectionString="metadata=res://*/AdventuresWorksLT.csdl|res://*/AdventuresWorksLT.ssdl|res://*/AdventuresWorksLT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUB247-PC;initial catalog=AdventureWorksLT2008R2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>