<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="languages" type="ConsoleApplication10.LanguageConfigSection, ConsoleApplication10, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="processes" type="ConsoleApplication10.ProcessConfigSection, ConsoleApplication10, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- use appSettings to configure a base address provided by the host -->
    <add key="baseAddress" value="http://localhost:8000/pip/service"/>
    <add key="defaultTheme" value="ding"/>
  </appSettings>
  <languages>
    <add name="English" value="en"/>
    <add name="Spanish" value="es"/>
  </languages>
  <processes>
    <add name="SendUATMail"/>
  </processes>
  <system.serviceModel>
    <services>
      <service name="Ezetop.PipService.PipService" behaviorConfiguration="PipServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Pip/Service"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="Ezetop.PipService.IPipService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PipServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
